body {
    font-family: Helvetica;
}

#header {
    margin: auto;
    text-align: center;
}

#wrapper {
    text-align: center;
}

#options {
    display: inline-block;
}

button {
    padding: 5px 5px 5px 5px;
    font-family: Helvetica;
}

#blackButton {
    margin-left: 20px;
}

#currentColour {
    width: auto;
    margin-top: 25px;
}

#currentColour p {
    width: 150px;
    display: inline;
    vertical-align: middle;
}

#currentColourDiv {
    height: 30px;
    width: 30px;
    background-color: black;
    border: solid black 1px;
    margin: 10px auto;
    top: 250px;
}

#container {
    width: 600px;
    height: 600px;
    margin: 10px auto;
    border: solid black 1px;
}

#grid {
    width: 600px;
    height: 600px;
    border-spacing: 0px;
}

.cell {
    background-color: black;
    opacity: 0;
}

.cellColoured {
    background-color: black;
    opacity: 0;
}
